Repository AgentShepherd/agentshepherd: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, golangci-lint, nilaway, govulncheck, semgrep, rule-lint, rule-coverage, sandbox-consistency, go-test, go-test-e2e, demo-gif

Path conditions:
  gofmt: any of: \.go$
  golangci-lint: any of: \.go$
  nilaway: any of: \.go$
  govulncheck: any of: (go\.mod|go\.sum|\.go)$
  semgrep: any of: \.go$
  rule-lint: any of: (internal/rules/builtin/.*\.yaml)$
  rule-coverage: any of: (internal/rules/builtin/security\.yaml|internal/rules/.*_test\.go)$
  sandbox-consistency: any of: (internal/rules/builtin/.*\.yaml|internal/sandbox/.*\.go)$
  go-test: any of: \.go$
  go-test-e2e: any of: internal/sandbox/.*\.go$
  demo-gif: any of: (internal/tui/.*\.go|internal/logger/logger\.go|scripts/demo\.tape|scripts/demo-attack\.sh)$

fix: resolve lint issues from pre-commit hooks
  internal/tui/dashboard/common.go
  internal/tui/dashboard/common_test.go
Due: gofmt, golangci-lint, nilaway, govulncheck, semgrep, go-test, demo-gif

bump version to v2.2.0
  main.go
Due: gofmt, golangci-lint, nilaway, govulncheck, semgrep, go-test

chore: remove example_rules directory
  .dockerignore
  example_rules/block-zhangchenxu.yaml
  example_rules/schema-examples.yaml
Due: none

fix: strip /api path prefix from client requests (#19)
  README.md
  internal/proxy/proxy.go
  internal/proxy/proxy_test.go
  main.go
Due: gofmt, golangci-lint, nilaway, govulncheck, semgrep, go-test

docs: consolidate client table and add hyperlinks
  README.md
Due: none

refactor: extract API prefixes and use generic terms in comments
  internal/proxy/proxy.go
  internal/proxy/proxy_test.go
  internal/security/api.go
  main.go
Due: gofmt, golangci-lint, nilaway, govulncheck, semgrep, go-test
