Repository AgentShepherd/agentshepherd: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, golangci-lint, rule-lint, rule-coverage, sandbox-consistency, go-test, go-test-e2e

gofmt:
  name: gofmt
  entry: gofmt -w
  language: system
  pass_filenames: true

golangci-lint:
  name: golangci-lint
  entry: bash -c '~/go/bin/golangci-lint run --config .golangci.yml ./...'
  language: system
  pass_filenames: false

rule-lint:
  name: rule lint
  entry: bash -c 'go build -o /tmp/agentshepherd-lint . && /tmp/agentshepherd-lint lint-rules'
  language: system
  pass_filenames: false

rule-coverage:
  name: rule coverage check
  entry: scripts/check-rule-coverage.sh
  language: script
  pass_filenames: false

sandbox-consistency:
  name: sandbox consistency check
  entry: bash -c 'go build -o /tmp/agentshepherd-check . && /tmp/agentshepherd-check check-sandbox'
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: bash -c 'go test ./... -short'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-test-e2e:
  name: go test e2e
  entry: bash -c 'go test ./internal/sandbox/... -run "TestSandbox" -v'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Update README with banner and formatting improvements
  README.md
  docs/banner.png
Due: none

feat: add GoReleaser for multi-platform binary releases (v1.1.0)
  .github/workflows/release.yml
  .goreleaser.yml
  install.sh
  install_openclaw.sh
  main.go
Due: gofmt, golangci-lint, go-test

fix: use goreleaser-cross container instead of non-existent action
  .github/workflows/release.yml
Due: none

fix: map web_search and browser tools to OpNetwork extraction
  internal/rules/extractor.go
Due: gofmt, golangci-lint, go-test

fix: map exec tool to bash command extraction for OpenClaw compatibility
  internal/rules/extractor.go
Due: gofmt, golangci-lint, go-test

fix: bind proxy to 127.0.0.1, add Open Claw to README, fix normalizer idempotency
  README.md
  internal/rules/normalizer.go
  main.go
Due: gofmt, golangci-lint, go-test

ci: add Windows and macOS test runners
  .github/workflows/ci.yml
Due: none

fix: replace reverse-glob heuristic with filesystem glob expansion
  internal/rules/bypass_verify_test.go
  internal/rules/engine.go
  internal/rules/matcher.go
  internal/rules/matcher_test.go
  internal/rules/normalizer.go
Due: gofmt, golangci-lint, rule-coverage, go-test

fix: enforce Windows ACL on sensitive files (PID, port, log, rules)
  internal/daemon/daemon.go
  internal/daemon/daemon_unix.go
  internal/daemon/daemon_windows.go
  internal/fileutil/secure.go
  internal/fileutil/secure_test.go
  internal/fileutil/secure_test_unix.go
  internal/fileutil/secure_test_windows.go
  internal/fileutil/secure_unix.go
  internal/fileutil/secure_windows.go
  internal/rules/api.go
  internal/rules/loader.go
  internal/security/interceptor_test.go
Due: gofmt, golangci-lint, go-test

feat: add --foreground flag for Docker/container deployment
  README.md
  main.go
Due: gofmt, golangci-lint, go-test

feat: add --foreground and --listen-address flags for Docker support
  Dockerfile
  README.md
  main.go
Due: gofmt, golangci-lint, go-test

fix: add missing listenAddr argument to runDaemon call
  main.go
Due: gofmt, golangci-lint, go-test

fix: fix Docker build and allow installing from branch
  Dockerfile
  install.sh
  scripts/install-common.sh
Due: none

docs: update PowerShell and commercial installers to document branch install
  install-commercial.ps1
  install-commercial.sh
  install.ps1
Due: none

fix: switch Docker base image from Alpine to Debian and add sqlite3
  Dockerfile
  README.md
Due: none

Update Dockerfile: include crust binary in PATH
  Dockerfile
Due: none

feat: add per-provider API keys with env variable expansion
  README.md
  internal/config/config.go
  internal/config/config_test.go
  internal/proxy/providers.go
  internal/proxy/providers_test.go
  internal/proxy/proxy.go
  internal/proxy/proxy_test.go
  internal/proxy/request_context.go
Due: gofmt, golangci-lint, go-test

fix: propagate provider env vars to daemon and harden credential redaction
  internal/config/config.go
  internal/daemon/daemon_unix.go
  internal/daemon/daemon_windows.go
  internal/proxy/request_context.go
  internal/tui/startup/common.go
  main.go
Due: gofmt, golangci-lint, go-test

test: add tests for MarshalJSON, String(), and ProviderEnvKeys
  internal/config/config_test.go
  internal/proxy/providers_test.go
Due: gofmt, golangci-lint, go-test

test: add earlyinit/colorProfile tests, deduplicate test helpers
  internal/earlyinit/earlyinit.go
  internal/earlyinit/earlyinit_test.go
  internal/proxy/sse_parser_test.go
  internal/rules/bypass_verify_test.go
  internal/security/manager_test.go
  internal/tui/styles_test.go
  main_test.go
Due: gofmt, golangci-lint, rule-coverage, go-test

chore: remove stale sandbox references
  .gitignore
  .gitmodules
  internal/daemon/daemon.go
  scripts/bench.sh
Due: gofmt, golangci-lint, go-test

ci: add Docker integration test job
  .github/workflows/ci.yml
Due: none

chore: reorder README sections, add Docker quick start, remove stale BPF
  README.md
  Taskfile.yml
  init/crust-bpf@.service
Due: none

docs: improve README for beginners
  README.md
Due: none

docs: move description before demo, reorder doc links
  README.md
Due: none

chore: bump version to v2.1.0
  main.go
Due: gofmt, golangci-lint, go-test

feat: conditional TTY suppression in earlyinit
  internal/earlyinit/earlyinit.go
  internal/earlyinit/earlyinit_test.go
  main.go
Due: gofmt, golangci-lint, go-test

fix: rewrite Dockerfile to multi-stage build from local source
  Dockerfile
Due: none

feat: expose management API on proxy port for remote TUI
  internal/security/manager.go
  main.go
Due: gofmt, golangci-lint, go-test

fix: pass API base URL to dashboard for remote TCP connections
  internal/tui/dashboard/common.go
  internal/tui/dashboard/dashboard.go
  internal/tui/dashboard/dashboard_notui.go
  main.go
Due: gofmt, golangci-lint, go-test

test: add dashboard unit tests for remote API connections
  internal/tui/dashboard/common_test.go
Due: gofmt, golangci-lint, go-test

refactor: unify local and remote API client creation
  main.go
Due: gofmt, golangci-lint, go-test

docs: update docs, tests, and completions for v2.2 changes
  docs/cli.md
  docs/docker.md
  docs/migration.md
  docs/tui.md
  internal/completion/completion.go
  internal/rules/engine_test.go
  internal/security/manager.go
  internal/tui/dashboard/common_test.go
  main.go
Due: gofmt, golangci-lint, rule-coverage, go-test

feat: harden Docker with non-root user, healthcheck, and compose
  .dockerignore
  Dockerfile
  docker-compose.yml
  docs/docker.md
  docs/tui.md
Due: none

fix: correct stale comments about earlyinit and init ordering
  main.go
Due: gofmt, golangci-lint, go-test

Path conditions:
  gofmt: any of: \.go$
  golangci-lint: any of: \.go$
  rule-lint: any of: (internal/rules/builtin/.*\.yaml)$
  rule-coverage: any of: (internal/rules/builtin/security\.yaml|internal/rules/.*_test\.go)$
  sandbox-consistency: any of: (internal/rules/builtin/.*\.yaml|internal/sandbox/.*\.go)$
  go-test: any of: \.go$
  go-test-e2e: any of: (internal/sandbox/.*\.go|cmd/sandbox-exec/)$
